<div id="content">
	<!-- Root Login -->
	<div class="root_index">
		<ul>
			<li class="main"><a href="/"><img src="images/root/bt_root_main_blue.png" alt="main"></a></li>
			<li>로그인</li>
		</ul>
	</div>

	<!-- Box Login -->
	<% form_for(:session, :url => sessions_path) do |f| %>
	<input type="hidden" name="session[uri]" value="<%= params[:uri] %>">
	<div id="box_login">
		
		<table>
			<tr>
				<td width="80" class="id">아이디</td>
				<td width="150"><input name="session[userid]" id="login_id" type="text" value="<%= @input_user_id %>"></td>
				<td class="error"><span id="login_validation_string"></span></td>
			</tr>
			<tr>
				<td class="pw">비밀번호</td>
				<td><input name="session[password]" id="login_pw" type="password"></td>
				<td class="error" id="login_pass_validation_string"> <%= flash.now[:error] %><!-- ※ 정확한 비밀번호를 입력하세요. --></td>
			</tr>		
			<tr>
				<td colspan="3">
					<input src="/images/main/bt_login.png" type="image" style="vertical-align:middle;padding-right:10px;">
					<img src="/images/main/bt_cancel.png" style="cursor:pointer;vertical-align:middle;" onClick="history.back(-1);">
				</td>
			</tr>
		</table>
	</div>
	
	<div style="height:20px">
	</div>
	<!-- Root Join -->
	<!-- Box Join -->
	<%end %>
	
	
</div>

<script language="javascript">
$(document).ready(function(){
	$('#login_id').focus();
})

$('#login_id').live("click", function(){
	$('#login_validation_string').text("");
	$('#login_pass_validation_string').text("");
})

$('#login_id').live("blur",function(){
	var $id = $(this).val();
	
	$.ajax({
		data:'id='+ $id, 
		dataType:'script', 
		type:'post', 
		url:'/sessions/check_login_id',
		success: function(request){
			if(request == "success"){
				$('#login_validation_string').text("");
				$('#login_id').css("background-color","");
			}else if(request == "fail"){
				$('#login_id').css("background-color","yellow");
				$('#login_validation_string').html("&nbsp;&nbsp;존재하지 않는 아이디입니다.");
			}
		}
	});
})
</script>