<% 
if @section == "show" 
	class_name = "sub_detail_admin"
else
	class_name = "sub_mbook_in_store_admin"
end
%>

<body id="sub" class="<%= class_name %>">
	
	<div id="header">
	<%= render :partial => "/admin/shared/menu", :object =>@menu_on %>	
	</div>
	
	<%= render :partial => "#{@board}_#{@section}", :object => @total_count, :object => @menu_on %>
	
	<!-- footer -->
	<div id="footer">
		<%= render :partial => "/admin/shared/footer" %>
	</div>
</body>