<h3><sapn <%= "class=\"on\"" if @board =="user" %> >회원정보</span></h3>
<p>	<a <%= "class=\"on\"" if @section =="edit" %> href="/users/<%= current_user.id %>/edit">&nbsp;&nbsp;-&nbsp;회원정보수정</a> <br> 
	<a <%= "class=\"on\"" if @section=="withdraw" %> href="/pages/withdraw">&nbsp;&nbsp;-&nbsp;회원탈퇴</a> <br> 
</p>

