<div id="content">
	<!-- Root Login -->
	<div class="root_index">
		<ul>
			<li class="main"><a href="/"><img src="images/root/bt_root_main_blue.png" alt="main"></a></li>
			<li>회원가입</li>
		</ul>
	</div>

	<!-- Box Login -->
	<% form_for(:user, :url => users_path) do |f| %>
		<input type="hidden" id="id_check_fl" value="false">
		<input type="hidden" id="password_check_fl" value="false">
		<input type="hidden" id="email_check_fl" value="false">
	
	<div id="box_join">
		<table>
			<tr>
				<td class="name">이름</td>
				<td width="180"><input name="name" id="name" type="text"></td>
				<td class="error"><span id="name_check_string"></span></td>
			</tr>
			<tr>
				<td class="id">아이디</td>
				<td><input name="userid" id="userid" type="text"></td>
				<td class="error"><span id="id_check_string"></span></td>
			</tr>
			<tr>
				<td class="pw">비밀번호</td>
				<td><input name="password" id="password" type="password"></td>
				<td class="error"><span id="password1_check_string"></span></td>
			</tr>		
			<tr>
				<td class="pw">비밀번호(확인)</td>
				<td><input name="password_re" id="password_re" type="password"></td>
				<td class="error"><span id="password2_check_string"></span></td>
			</tr>		
			
			<tr>
				<td class="email">이메일</td>
				<td><input name="email" id="email" type="text"></td>
				<td class="error"><span id="email_check_string"></span></td>
			</tr>		
			<tr>
				<td class="servicetype">서비스 형태</td>
				<td colspan="2">
					<input type="radio" name="servicetype" value="shared" checked>Shared App
					<input type="radio" name="servicetype" value="single">Single Category
					<input type="radio" name="servicetype" value="multiple">Multiple Category
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="image" id="btn_join_submit" src="images/main/bt_join.png" alt="가입완료" style="vertical-align:middle;">
					<a href=""><img src="images/main/bt_cancel.png" alt="취소" style="cursor:pointer;vertical-align:middle;" onClcik="history.back(-1);"></a>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="box_join_service">
	<b>※ 서비스 형태에 대한 안내</b><br>
	<strong>1.Shared App</strong><br>
	&nbsp;&nbsp;&nbsp;&nbsp;(주)성도솔루윈에서 운영하는 MBookStore(Shared App)에서 MBook을 판매하는 서비스입니다.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;초기 구축비 없이 무료로 제공되는 MLayoutEditor와 Shared App을 사용하여 저비용으로 나만의 모바일 출판물을 제작하실 수 있습니다.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;여러 사용자가 제작한 MBook이 함께 판매되어 독자에게 다양한 선택의 기회를 제공합니다.<br>
	<strong>2.Single Category</strong><br>
	&nbsp;&nbsp;&nbsp;&nbsp;단일 브랜드의 App을 제작하여 AppStore에서 판매하고, 해당 App안에서 나만의 MBook을 개별 판매하는 서비스입니다.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;App에서는 한가지 분류에 전체 MBook 리스트가 보여집니다.<br>
	<strong>3.Multiple Category</strong><br>
	&nbsp;&nbsp;&nbsp;&nbsp;다수의 브랜드를 하나의 App에서 보여지도록 App을 제작하여 AppStore에서 판매하고, 해당 App안에서 브랜드별로 MBook을 개별 판매하는 서비스입니다.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;App에서는 여러 분류로 MBook 리스트가 보여집니다.
	</div>
	
	<%end %>
</div>

<div id="message" style="display:none;">
	<div id="div_title">
		<img src="/images/etc/message_check.png"> <span id="title">이메일 승인절차 진행.</span>
	</div>
	<div id="div_sub">
		<span id="sub">이메일 주소로 승인번호가 발송되었습니다!<br>메일을 확인하시고 링크를 클릭하시면<br>가입절차가 완료됩니다!</span>
	</div>
</div>

<script language="javascript">
$(document).ready(function(){
	$('#login_id').focus();
	
	var $left = (document.body.clientWidth)/2 - 250;
 	var $top = (document.body.clientHeight)/2 -135 ;
	
	$('#message').css("left", $left).css("top", $top);
})

$('#userid').live("blur",function(){
	var $id = $(this).val();
	
	if ($id != ""){
		$.ajax({
			data:'id='+ $id, 
			dataType:'script', 
			type:'post', 
			url:'/sessions/check_login_id',
			success: function(request){
				if(request == "fail"){
					$('#id_check_string').text("");
					$('#userid').css("background-color","");
					$('#id_check_fl').val("true");
				}else if(request == "success"){
					$('#userid').css("background-color","yellow");
					$('#id_check_string').html("※ 이미 등록된 아이디입니다.");
					$('#id_check_fl').val("false");
				}
			}
		});
	}else{
		return false;	
	}
	
})

$('#password_re').live("blur", function(){
	if ($('#password').val() != $('#password_re').val()) {
		$('#password_re').css("background-color","yellow");
		$('#password2_check_string').html("※ 비밀번호가 일치하지 않습니다.");
		$('#password_check_fl').val("false")
	}else{
		$('#password_re').css("background-color","");
		$('#password2_check_string').html("");
		$('#password_check_fl').val("true")
	}
	
	return false;
})

$('#email').live("blur", function(){
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i; 


	if ( !regExp.test( $('#email').val() ) ) {
	    $('#email').css("background-color","yellow");
		$('#email_check_string').html("※ 정확한 이메일을 입력하세요. <br>(해당 이메일주소로 승인코드가 발송됩니다.)");
		$('#email_check_fl').val("false")
	}else{
		$('#email').css("background-color","");
		$('#email_check_string').html("");
		$('#email_check_fl').val("true")
	}
	
	return false;
})

$('#name').live("change", function(){
	if ( $(this).val() != "" ){
		$(this).css("background-color","");
		$('#name_check_string').html("");
		
		return false;
	}
})

$('#btn_join_submit').live("click", function(){
	if ($('#name').val() == ""){
		$('#name').css("background-color","yellow").focus();
		$('#name_check_string').html("이름을 입력해주세요.");
		return false;
	}
	
	if ($('#userid').val() == ""){
		$('#userid').css("background-color","yellow").focus();
		$('#id_check_string').html("아이디를 입력해주세요.");
		return false;
	}
	
	if ($('#password').val() == ""){
		$('#password').css("background-color","yellow").focus();
		$('#password1_check_string').html("비밀번호를 입력해주세요.");
		return false;
	}else{
		$('#password1_check_string').html("");
		$('#password').css("background-color","").focus();
	}
	
	if ($('#password_re').val() == ""){
		$('#password_re').css("background-color","yellow").focus();
		$('#password2_check_string').html("확인용 비밀번호를 입력해주세요.");
		return false;
	}
	
	if ( $('#id_check_fl').val() == "false" || $('#password_check_fl').val() == "false" || $('#email_check_fl').val() == "false"){
		return false;
	}
	
	if (window.confirm("입력하신 정보로 회원가입을 신청하시겠습니까?")){
		loadingView();
		
		var selectedValue = $('input:radio[name=servicetype]:checked').val() ;
		
		$.ajax({
			data:'userid='+ $('#userid').val()+'&name='+ $('#name').val()+'&password='+ $('#password').val()+'&email='+ $('#email').val()+'&servicetype='+ selectedValue, 
			dataType:'script', 
			type:'post', 
			url:'/users/create',
			success: function(request){
				if(request == "success"){
					$('#message').css("display", "block");
					loadingView();
				}else{
					alert("회원가입중 오류가 발생했습니다!");
				}
			}
		});
		
		return false;
	}else{
		return false;
	}
})

$('#message').live("click", function(){
	window.location.href="/"
})
</script>