<div id="div_title">
	<img src="/images/etc/message_check.png"> <span id="title">이메일 승인절차 진행.</span>
</div>
<div id="div_sub">
	<span id="sub"><%= @message %></span>
</div>

<script>
loadingView();
$('#message').css("display", "block");
</script>