<div id="content">
	<!-- Root Login -->
	<div class="root_index">
		<ul>
			<li class="main"><a href="/"><img src="images/root/bt_root_main_blue.png" alt="main"></a></li>
			<li>회원가입</li>
		</ul>
	</div>

	<!-- Box Login -->
	<% form_for(:user, :url => users_path) do |f| %>
		<input type="hidden" id="id_check_fl" value="false">
		<input type="hidden" id="password_check_fl" value="false">
		<input type="hidden" id="email_check_fl" value="false">
	
	<div id="box_join">
		<table>
			<tr>
				<td class="name">이름</td>
				<td width="180"><input name="name" id="name" type="text"></td>
				<td class="error"><span id="name_check_string"></span></td>
			</tr>
			<tr>
				<td class="id">아이디</td>
				<td><input name="userid" id="userid" type="text"></td>
				<td class="error"><span id="id_check_string"></span></td>
			</tr>
			<tr>
				<td class="pw">비밀번호</td>
				<td><input name="password" id="password" type="password"></td>
				<td class="error"><span id="password1_check_string"></span></td>
			</tr>		
			<tr>
				<td class="pw">비밀번호(확인)</td>
				<td><input name="password_re" id="password_re" type="password"></td>
				<td class="error"><span id="password2_check_string"></span></td>
			</tr>		
			
			<tr>
				<td class="email">이메일</td>
				<td><input name="email" id="email" type="text"></td>
				<td class="error"><span id="email_check_string"></span></td>
			</tr>		
			<!-- <tr>
				<td class="publisher">필명/출판사명</td>
				<td><input name="join_publisher" id="join_publisher" type="text"></td>
				<td></td>					
				<td class="error">※ 필명/출판사명을 입력하세요.</td>
			</tr>		 -->
			<tr>
				<td colspan="3">
					<input type="image" id="btn_join_submit" src="images/main/bt_join.png" alt="가입완료" style="vertical-align:middle;">
					<a href=""><img src="images/main/bt_cancel.png" alt="취소" style="cursor:pointer;vertical-align:middle;" onClcik="history.back(-1);"></a>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
	<%end %>
</div>

<div id="message" style="display:none;">
	<div id="div_title">
		<img src="/images/etc/message_check.png"> <span id="title">이메일 승인절차 진행.</span>
	</div>
	<div id="div_sub">
		<span id="sub">이메일 주소로 승인번호가 발송되었습니다!<br>메일을 확인하시고 링크를 클릭하시면<br>가입절차가 완료됩니다!</span>
	</div>
</div>

<script language="javascript">
$(document).ready(function(){
	$('#login_id').focus();
	
	var $left = (document.body.clientWidth)/2 - 250;
 	var $top = (document.body.clientHeight)/2 -135 ;
	
	$('#message').css("left", $left).css("top", $top);
})

$('#userid').live("blur",function(){
	var $id = $(this).val();
	
	if ($id != ""){
		$.ajax({
			data:'id='+ $id, 
			dataType:'script', 
			type:'post', 
			url:'/sessions/check_login_id',
			success: function(request){
				if(request == "fail"){
					$('#id_check_string').text("");
					$('#userid').css("background-color","");
					$('#id_check_fl').val("true");
				}else if(request == "success"){
					$('#userid').css("background-color","yellow");
					$('#id_check_string').html("※ 이미 등록된 아이디입니다.");
					$('#id_check_fl').val("false");
				}
			}
		});
	}else{
		return false;	
	}
	
})

$('#password_re').live("blur", function(){
	if ($('#password').val() != $('#password_re').val()) {
		$('#password_re').css("background-color","yellow");
		$('#password2_check_string').html("※ 비밀번호가 일치하지 않습니다.");
		$('#password_check_fl').val("false")
	}else{
		$('#password_re').css("background-color","");
		$('#password2_check_string').html("");
		$('#password_check_fl').val("true")
	}
	
	return false;
})

$('#email').live("blur", function(){
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i; 


	if ( !regExp.test( $('#email').val() ) ) {
	    $('#email').css("background-color","yellow");
		$('#email_check_string').html("※ 정확한 이메일을 입력하세요. <br>(해당 이메일주소로 승인코드가 발송됩니다.)");
		$('#email_check_fl').val("false")
	}else{
		$('#email').css("background-color","");
		$('#email_check_string').html("");
		$('#email_check_fl').val("true")
	}
	
	return false;
})

$('#name').live("change", function(){
	if ( $(this).val() != "" ){
		$(this).css("background-color","");
		$('#name_check_string').html("");
		
		return false;
	}
})

$('#btn_join_submit').live("click", function(){
	if ($('#name').val() == ""){
		$('#name').css("background-color","yellow").focus();
		$('#name_check_string').html("이름을 입력해주세요.");
		return false;
	}
	
	if ($('#userid').val() == ""){
		$('#userid').css("background-color","yellow").focus();
		$('#id_check_string').html("아이디를 입력해주세요.");
		return false;
	}
	
	if ($('#password').val() == ""){
		$('#password').css("background-color","yellow").focus();
		$('#password1_check_string').html("비밀번호를 입력해주세요.");
		return false;
	}else{
		$('#password1_check_string').html("");
		$('#password').css("background-color","").focus();
	}
	
	if ($('#password_re').val() == ""){
		$('#password_re').css("background-color","yellow").focus();
		$('#password2_check_string').html("확인용 비밀번호를 입력해주세요.");
		return false;
	}
	
	if ( $('#id_check_fl').val() == "false" || $('#password_check_fl').val() == "false" || $('#email_check_fl').val() == "false"){
		return false;
	}
	
	if (window.confirm("입력하신 정보로 회원가입을 신청하시겠습니까?")){
		loadingView();
		
		$.ajax({
			data:'userid='+ $('#userid').val()+'&name='+ $('#name').val()+'&password='+ $('#password').val()+'&email='+ $('#email').val(), 
			dataType:'script', 
			type:'post', 
			url:'/users/create',
			success: function(request){
				if(request == "success"){
					$('#message').css("display", "block");
					loadingView();
				}else{
					alert("회원가입중 오류가 발생했습니다!");
				}
			}
		});
		
		return false;
	}else{
		return false;
	}
})

$('#message').live("click", function(){
	window.location.href="/"
})
</script>