<div id="footer">
	<%if @mode == "1" %>
		<a href="http://soluwin.co.kr"><img src="/images/footer_sub_index.png"></a>
	<%else %>
		<a href="http://soluwin.co.kr"><img src="/images/footer_sub.png"></a>
	<%end %>
</div>