<div id="content">
	<!-- Root Category-->
	<div class="root_index">
		<ul>
			<li class="total"><a href=""><img src="images/root/bt_root_total_blue.png" alt="전체분류"></a></li>
			<li><a href="/">형태</a></li>
			
		</ul>
	</div>
	<!-- Box Category -->
	<div id="box_category">
		<ul class="list">
			<%@categories.each do |cat| %>
				<li><%= cat.name %><br/>
					<a href="sub?cat=<%= cat.id %>"><img src="images/icon_category.png" alt="분류명"></a><br/>
					<%if signed_in? %>
						<a href="/mbooks?me=y&store=n&cat=<%=cat.id %>"><img src="images/main/bt_list.png" alt="리스트"></a>
					<%else %>
						<a href="/mbooks?me=n&store=y&cat=<%=cat.id %>"><img src="images/main/bt_list.png" alt="리스트"></a>
					<%end %>
				</li>
			<%end %>
		</ul>
	</div>
</div>