<body id="index" class="index_main">
	<div id="header">
		<h1>mBook</h1>
		<ul>
			<li>
				<%if not signed_in? %>
				<a href="/login"><img src="images/main/bt_loginpage.png" alt="로그인"></a>
				<a href="/join"><img src="images/main/bt_joinpage.png" alt="회원가입"></a>
				<%end %>
			</li>
		</ul>
	</div>
	
	<%= render :partial => "#{@title}_#{@menu}", :object => @total_count %>

	<div id="footer">
		<%= render :partial => "/shared/footer" %>
	</div>
</body>