<table style="width:630px;">
	<tr>
		<td></td>
		<td class="gray">Customer Price</td>
		<td class="gray">YourProceeds</td>
		<td></td>
		<td class="gray">Customer Price</td>
		<td class="gray">YourProceeds</td>
		<td></td>
		<td class="gray">Customer Price</td>
		<td class="gray">YourProceeds</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="0.99"></td>
		<td>0.99</td>
		<td>0.70</td>
		<td class="gray"><input type="radio" name="usdollor" value="1.99"></td>
		<td>1.99</td>
		<td>1.40</td>
		<td class="gray"><input type="radio" name="usdollor" value="2.99"></td>
		<td>2.99</td>
		<td>2.10</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="3.99"></td>
		<td>3.99</td>
		<td>2.80</td>
		<td class="gray"><input type="radio" name="usdollor" value="4.99"></td>
		<td>4.99</td>
		<td>3.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="5.99"></td>
		<td>5.99</td>
		<td>4.20</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="6.99"></td>
		<td>6.99</td>
		<td>4.90</td>
		<td class="gray"><input type="radio" name="usdollor" value="7.99"></td>
		<td>7.99</td>
		<td>5.60</td>
		<td class="gray"><input type="radio" name="usdollor" value="8.99"></td>
		<td>8.99</td>
		<td>6.30</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="9.99"></td>
		<td>9.99</td>
		<td>7.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="10.99"></td>
		<td>10.99</td>
		<td>7.70</td>
		<td class="gray"><input type="radio" name="usdollor" value="11.99"></td>
		<td>11.99</td>
		<td>8.40</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="12.99"></td>
		<td>12.99</td>
		<td>9.10</td>
		<td class="gray"><input type="radio" name="usdollor" value="13.99"></td>
		<td>13.99</td>
		<td>9.80</td>
		<td class="gray"><input type="radio" name="usdollor" value="14.99"></td>
		<td>14.99</td>
		<td>10.50</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="15.99"></td>
		<td>15.99</td>
		<td>11.20</td>
		<td class="gray"><input type="radio" name="usdollor" value="16.99"></td>
		<td>16.99</td>
		<td>11.90</td>
		<td class="gray"><input type="radio" name="usdollor" value="17.99"></td>
		<td>17.99</td>
		<td>12.60</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="18.99"></td>
		<td>18.99</td>
		<td>13.30</td>
		<td class="gray"><input type="radio" name="usdollor" value="19.99"></td>
		<td>19.99</td>
		<td>14.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="20.99"></td>
		<td>20.99</td>
		<td>14.70</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="21.99"></td>
		<td>21.99</td>
		<td>15.40</td>
		<td class="gray"><input type="radio" name="usdollor" value="22.99"></td>
		<td>22.99</td>
		<td>16.10</td>
		<td class="gray"><input type="radio" name="usdollor" value="23.99"></td>
		<td>23.99</td>
		<td>16.10</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="24.99"></td>
		<td>24.99</td>
		<td>17.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="25.99"></td>
		<td>25.99</td>
		<td>18.20</td>
		<td class="gray"><input type="radio" name="usdollor" value="26.99"></td>
		<td>26.99</td>
		<td>18.90</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="27.99"></td>
		<td>27.99</td>
		<td>19.60</td>
		<td class="gray"><input type="radio" name="usdollor" value="28.99"></td>
		<td>28.99</td>
		<td>20.30</td>
		<td class="gray"><input type="radio" name="usdollor" value="29.99"></td>
		<td>29.99</td>
		<td>21.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="30.99"></td>
		<td>30.99</td>
		<td>21.70</td>
		<td class="gray"><input type="radio" name="usdollor" value="31.99"></td>
		<td>31.99</td>
		<td>22.40</td>
		<td class="gray"><input type="radio" name="usdollor" value="32.99"></td>
		<td>32.99</td>
		<td>23.10</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="33.99"></td>
		<td>33.99</td>
		<td>23.80</td>
		<td class="gray"><input type="radio" name="usdollor" value="34.99"></td>
		<td>34.99</td>
		<td>24.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="35.99"></td>
		<td>35.99</td>
		<td>25.20</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="36.99"></td>
		<td>36.99</td>
		<td>25.90</td>
		<td class="gray"><input type="radio" name="usdollor" value="37.99"></td>
		<td>37.99</td>
		<td>26.60</td>
		<td class="gray"><input type="radio" name="usdollor" value="38.99"></td>
		<td>38.99</td>
		<td>27.30</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="39.99"></td>
		<td>39.99</td>
		<td>28.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="40.99"></td>
		<td>40.99</td>
		<td>28.70</td>
		<td class="gray"><input type="radio" name="usdollor" value="41.99"></td>
		<td>41.99</td>
		<td>29.40</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="42.99"></td>
		<td>42.99</td>
		<td>30.10</td>
		<td class="gray"><input type="radio" name="usdollor" value="43.99"></td>
		<td>43.99</td>
		<td>30.80</td>
		<td class="gray"><input type="radio" name="usdollor" value="44.99"></td>
		<td>44.99</td>
		<td>31.50</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="45.99"></td>
		<td>45.99</td>
		<td>32.20</td>
		<td class="gray"><input type="radio" name="usdollor" value="46.99"></td>
		<td>46.99</td>
		<td>32.90</td>
		<td class="gray"><input type="radio" name="usdollor" value="47.99"></td>
		<td>47.99</td>
		<td>33.60</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="48.99"></td>
		<td>48.99</td>
		<td>34.30</td>
		<td class="gray"><input type="radio" name="usdollor" value="49.99"></td>
		<td>49.99</td>
		<td>35.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="54.99"></td>
		<td>54.99</td>
		<td>38.50</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="59.99"></td>
		<td>59.99</td>
		<td>42.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="64.99"></td>
		<td>64.99</td>
		<td>45.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="69.99"></td>
		<td>69.99</td>
		<td>49.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="74.99"></td>
		<td>74.99</td>
		<td>52.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="79.99"></td>
		<td>79.99</td>
		<td>56.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="84.99"></td>
		<td>84.99</td>
		<td>59.50</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="89.99"></td>
		<td>89.99</td>
		<td>63.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="94.99"></td>
		<td>94.99</td>
		<td>66.50</td>
		<td class="gray"><input type="radio" name="usdollor" value="99.99"></td>
		<td>99.99</td>
		<td>70.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="109.99"></td>
		<td>109.99</td>
		<td>77.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="119.99"></td>
		<td>119.99</td>
		<td>84.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="129.99"></td>
		<td>129.99</td>
		<td>91.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="139.99"></td>
		<td>139.99</td>
		<td>98.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="149.99"></td>
		<td>149.99</td>
		<td>105.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="159.99"></td>
		<td>159.99</td>
		<td>112.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="169.99"></td>
		<td>169.99</td>
		<td>119.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="179.99"></td>
		<td>179.99</td>
		<td>126.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="189.99"></td>
		<td>189.99</td>
		<td>133.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="199.99"></td>
		<td>199.99</td>
		<td>140.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="209.99"></td>
		<td>209.99</td>
		<td>147.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="219.99"></td>
		<td>219.99</td>
		<td>154.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="229.99"></td>
		<td>229.99</td>
		<td>161.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="239.99"></td>
		<td>239.99</td>
		<td>168.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="249.99"></td>
		<td>249.99</td>
		<td>175.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="299.99"></td>
		<td>299.99</td>
		<td>210.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="349.99"></td>
		<td>349.99</td>
		<td>245.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="399.99"></td>
		<td>399.99</td>
		<td>280.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="449.99"></td>
		<td>449.99</td>
		<td>315.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="499.99"></td>
		<td>499.99</td>
		<td>350.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="599.99"></td>
		<td>599.99</td>
		<td>420.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="699.99"></td>
		<td>699.99</td>
		<td>490.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="799.99"></td>
		<td>799.99</td>
		<td>560.00</td>
		<td class="gray"><input type="radio" name="usdollor" value="899.99"></td>
		<td>899.99</td>
		<td>630.00</td>
	</tr>
	<tr>
		<td class="gray"><input type="radio" name="usdollor" value="999.99"></td>
		<td>999.99</td>
		<td>700.00</td>
		<td class="gray"></td>
		<td></td>
		<td></td>
		<td class="gray"></td>
		<td></td>
		<td></td>
	</tr>
</table>