<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
	<!-- include/doc_header -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="DC.date" content="2011-05-01"/>
	<meta name="DC.creator" content="성도GL/성도솔루윈"/>
	<meta name="geo.placename" content="Seoul, Korea Republic of"/>
	<meta name="geo.region" content="KO-KR"/>
	<meta name="author" content="성도GL/성도솔루윈"/>
	<meta name="description" content="이 사이트는 mBook Server 입니다. mBook Store에서 판매될 mBook을 등록하는 하실 수 있습니다."/>
	<meta name="keywords" content="iEdit, MLayout, Webtop, Printshop, DTP, CTP, iPad, iPhone, app, magazine, Solution, Publishing, Design, DesignStore, 아이에딧, 엠레이아웃, 웹탑, 프린트샵, 디티피, 씨티피, 아이패드, 아이폰, 앱, 앱스, 매거진, 잡지, 솔루션, 사업모델, 출판, 인쇄, 디자이너, 디자인, 디자인스토어, 템플릿, 엠북, 앰북, mbook, mbookserver, 웹북, 이북, ebook"/>
	<meta name="viewport" content="width=980" />
	
	<title>mBook Server</title>
	
	<link rel="stylesheet" href="/css/reset.css" type="text/css"/>
	<link rel="stylesheet" href="/css/css.css" type="text/css" />

	<link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
	<!-- <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script> -->
	<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-ko.js"></script>
	
	<script type="text/javascript" src="/js/jquery.shared.js"></script>
	<script type="text/javascript" src="/js/jquery.plugins.js"></script>
	<!-- include/doc_header -->
</head>
<%= yield %>	
</html>